# config
config/*.yaml
config/__pycache__/


.idea/
util/__pycache__/
testcase/__pycache__/
testcase/pywinauto/__pycache__/
test.py
main.py
testcase/pywinauto/teacher/seejigou.py
testcase/pywinauto/student/pc/readjieg.py
__pycache__/

# 报告
util/temp/
reports/
testcase/pywinauto/teacher/temp/
testcase/pywinauto/temp/
testcase/pywinauto/student/pc/temp/
